body{background:#CDCDCD;font-size: 1.1em}
#instruction {text-decoration: none;}
#need_to_do,#want_to_do,.editor {width: 245px;height: 20px;font-size: 19px;}
.close {padding: 6px 8px 6px 8px;text-decoration: none;color: black;}
.close:hover {color: red;}
